@model PackageSearchViewModel
<div class="container mb-5" style="min-height:525px">
    <h5 class="mt-5">Total Packages Found: @Model.Total</h5>
    <div class="row">

        <div class="col-md mx-auto">
            <form asp-controller="Package" asp-action="Search" asp-antiforgery="true" method="get" >

                <div asp-validation-summary="ModelOnly">

                </div>

                <label class="sr-only" asp-for="SearchString">Location</label>
                <input class="form-control" type="text" placeholder="Search location" name="SearchString" value="@ViewData["searchString"]" />
                <span style="color:red" asp-validation-for="SearchString"></span>

                <label class="sr-only" asp-for="MinPrice">Minimum Price</label>
                <input class="form-control" type="number" placeholder="Min $" name="MinPrice" />
                <span style="color:red" asp-validation-for="MinPrice" value="@ViewData["MinPrice"]"></span>

                <label class="sr-only" placeholder="Search location" asp-for="MaxPrice">Maximum Price</label>
                <input class="form-control" type="number" placeholder="Max $" name="MaxPrice" />
                <span style="color:red" asp-validation-for="MaxPrice" value="@ViewData["MaxPrice"]"></span>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Search</button>
            </form>

        </div>
    </div>
    <div class="row">
        @foreach (var item in Model.Packages)
        {
            <div class="col-md-6">
                <div class="card mt-5 mb" style="max-width: 35em; height:42em">
                    <img class="card-img-top" src="~/uploads/package/@item.Picture" alt="Package Picture">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name $@item.Price</h5>
                        <p class="card-text">@item.Description</p>
                    </div>
                    <div class="card-footer text-center">
                        <a class="btn btn-primary" href="@Url.Action("Details", "Package", new { id = item.PackageId})">See More</a>
                    </div>
                </div>
            </div>
        }

        <div>
            <h5 style="color:red">@ViewBag.PackageSearch</h5>
        </div>
    </div>

</div>



