@model OrderDetailsViewModel

<div class="bg-light pb-5">

    <div class="container">
        <div class="py-5 text-center">
            <h2>Confirm order and pay</h2>
            <p class="lead">Please confirm and pay</p>
        </div>

        <div class="row mx-auto" style="width:80%">
            <div class="col-md-6 order-md-1">
                <h4 class="mb-3">Order details</h4>
                <div class="mb-2">
                    <span class="font-weight-bold">Order Id</span>
                    <span>@Model.OrderId</span>
                </div>
                <div class="mb-2">
                    <span class="font-weight-bold">Package Name</span>
                    <span>@Model.PackageName</span>
                </div>
                <div class="mb-2">
                    <span class="font-weight-bold">Quantity</span>
                    <span>@Model.Quantity</span>
                </div>
                <div class="mb-2">
                    <span class="font-weight-bold">Total Price</span>
                    <span>$ @Model.TotalPrice</span>
                </div>
                <div class="mb-2">
                    <span class="font-weight-bold">Date</span>
                    <span>@Model.Date</span>
                </div>
            </div>
            <div class="col-md-6 order-md-1">
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="K6TNES3J4B7MS">
                    <input type="image" src="https://www.paypalobjects.com/en_AU/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_AU/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
        </div>

    </div>

</div>





